.updateUser {
    // background-color: aqua;
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;

    input {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 16px;
    }

    button {
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        padding: 0 10px;
        font-size: 16px;
        background-color: aqua;
        cursor: pointer;
    }

    .button_update {
        position: relative;
        margin-top: 20px;
    }

    .submit {
        position: absolute;
        right: 0;
    }
}