.get-lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; // Set the height to 100% of the viewport height

    .admin-selected-feature {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .title {
        text-align: center;
    }

    .ant-table {
        background-color: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        align-items: center;
        margin-top: 16px;

        .ant-table-thead>tr>th {
            background-color: #fafafa;
        }

        .ant-table-tbody>tr>td {
            border-bottom: 1px solid #e8e8e8;
        }
    }

    .action-button {
        display: flex;
        justify-content: center;

        button {
            margin-right: 8px;
        }
    }
}